body{
	background-color:lightgrey;
}

h1{
	color: yellow;
	font-size: 90px;
	text-decoration: underline;
}

.small{
	font-size: 10px;
	}
h2{
	color: blue;
	font-size: 22px;
	}

h2 span{
	font-style:line-through;
	}

span{
	font-size:10px;
	}

#first{
	font-size:50px;
	}